html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Hack for styletron limitations */
.accordion-btn[aria-expanded='true']::after {
  transform: rotate(45deg) translate(-3px, -3px);
}
